[2018-05-17 03:28] brettvanderwerff opened #1 "Modify HTTP_status_dict.py dictionary to only contain HTTP status codes that are errors"
HTTP_status_dict.py has a dictionary that contains a giant list of status codes in HTTP_status_dict. These codes are used to match HTML file titles that might represent errors, but obviously some of the status codes in the dictionary are not errors (like 200). The dictionary should be modified to only contain status codes that are obvious errors like 404.

[2018-05-17 03:56] brettvanderwerff opened #2 "Make Flaskerizer work with https://startbootstrap.com bootstrap templates"
I built Flaskerizer to work with https://bootstrapmade.com/ bootstrap templates, mostly because they have a very consistent structure to them with HTML files in the top level directory of the bootstrap template. However, there are other very popular bootstrap template sites like https://startbootstrap.com, which do not have the same structure and will not currently work with Flaskerizer.

For exam

[2018-05-17 04:11] brettvanderwerff opened #3 "The test file test_structure_directory is broken"
The test_structure_directory.py file does not pass when it is run for testing. The failing method is test_parse_html. the test is supposed to compare an HTML file made by parse_html to a "gold standard" HTML file from the testing_files folder that has the expected output in it. Since maxDiff  is set to None, you should see the difference between the test file and the gold standard file when runnin

[2018-05-17 04:17] brettvanderwerff opened #4 "Make .travis.yml file for Travis CI"
I have never used Travis CI before, but like the idea that we could use it to continually assess how new code is doing with the tests. I synced Travis CI to my github and enabled it on this repository . I believe the next step is to make a .travis.yml file as per: https://docs.travis-ci.com/user/getting-started

Note the because of issue #3 , the build is currently failing tests, but I don't think

[2018-05-17 06:05] brettvanderwerff opened #5 "Write test for the status_code_to_word function in the status_code_to_word.py file"
I'm not sure if this function needs a test or not with how simple it is now, but it wouldn't be a terrible idea to put a simple test on it so we at least have the ground work in place for testing it more robustly if the function grows in complexity. It makes a good practice issue regardless.

[2018-05-17 06:44] brettvanderwerff opened #6 "Docker for deployment"
Unlike the other issues, this is might not be a good first issue, but integrating Docker into the Flaskerizer might be a way to make the automated website build performed by Flaskerizer even more deployment ready. I have some but overall a very limited amount of experience with Docker, does anyone more experienced with Docker have input on this?

[2018-05-17 22:35] brettvanderwerff commented on #5
@makkoncept Great to have you aboard. I'll assign you for this issue. I don't have any rigid guidelines for this, as long as your tests are documented and follow the same general naming schemes that the existing tests have. Feel free to include whatever tests you think might be appropriate, as there is no testing coverage currently for this function, so any test within reason would be an improveme

[2018-05-18 01:48] brettvanderwerff opened #7 "Modify the StructureDirectory class to work with zipped bootstrap templates rather than only exploded directories"
Most bootstrap templates come as a zipped file, so it would be nice to make the StructureDriectory class accept the path to a zipped bootstrap template rather than an exploded directory. This probably means making a new method in the StructureDirectory class that automates unzipping the file. This saves the user the extra step of having to unzip a zipped bootstrap template they just downloaded.

[2018-05-18 01:53] brettvanderwerff opened #8 "Make a config.py file to store the bootstrap template directory"
Right now the user has to open flaskerizer.py and pass their directory path to the structure_directory_object. It would be nice to have a separate config file that the user would just open and put their configurations like directory paths in there rather than having to dig through python scripts.

See link:

https://hackernoon.com/4-ways-to-manage-the-configuration-in-python-4623049e841b

[2018-05-18 01:56] brettvanderwerff opened #9 "Include step in README under setup and operation instructing user to unzip their bootstrap temple"
At least for now bootstrap templates need to be unzipped before they will work with flaskerizer, there is no mention of this in the readme. This is a great first issue for new people, so please only take this if you are very new to git and github.

[2018-05-18 03:30] jmbriody commented on #6
Just sent you a pull request with the docker stuff and some minor changes.

[2018-05-18 06:41] #6 closed

[2018-05-18 06:44] brettvanderwerff opened #12 "Typos found in structure_directory.py"
A typo was found in structure_directory.py
[code]
`directroy` instead of `directory`. The readme.md also uses *`directory` argument* in its instructions.

[2018-05-18 06:52] brettvanderwerff commented on #3
This should be fixed ass soon as possible. I'm trying to work this out by trying to recreate the bug with simpler parts, but I am struggling to get a solution on this. Any help would be appreciated.

[2018-05-18 07:00] makkoncept commented on #8
Can you clarify what all configurations will be there in `config.py` or only directory path need to be added as of now . I would like to work on this issue.
 Also issue #12 will be resolved in this issue as the directory attribute  of  `structure_directory.py` will be used.

[2018-05-18 10:47] makkoncept opened #14 "test fail on test_write_app.py"
Due to pull request #10 `write_app.py` is modified.
 As the `app.py` generating now is modified, update is needed in the 'golden version':  `app_test_file.py`

[2018-05-18 15:05] #3 closed

[2018-05-18 15:05] #14 closed

[2018-05-18 15:06] #5 closed

[2018-05-18 15:17] brettvanderwerff commented on #8
@makkoncept Just a quick note, I might not see comments unless you tag me by tying the @ sign then you should see a dropdown menu for my name. For now its only the directory path to the bootstrap template, but its good to have a config file for the user, its cleaner for them when setting their configurations. If the project grows it will be nice to have the config file then we can just dump any ne

[2018-05-18 16:40] brettvanderwerff commented on #4
It looks like someone forked to work on this, but there was no WIP PR and I see no progress on their fork. I have no way to communicate with them either. I am going to give them a bit more time, but I am going to try and take this issue on if I don;t hear back from them soon because it is a high priority issue

[2018-05-19 00:08] brettvanderwerff commented on #7
I'm working on this issue.

[2018-05-19 01:22] brettvanderwerff opened #17 "Find a way to consolidate testing"
Right now the user needs to invoke 3 different commands to cover all the tests. It would be great if there was a way we could consolidate these in some way so that the user only need to invoke one command to test the program. I don't know enough about testing to say whether the 3 different test files can be combined into one test file or if we need another script that automatically runs 3 differen

[2018-05-19 13:26] makkoncept commented on #17
pull request #20 addresses this issue

[2018-05-19 16:47] #4 closed

[2018-05-19 16:57] brettvanderwerff opened #21 "Make Travis CI build status badge appear in readme"
Travis CI has build status badges to show users that our project is tested and passing. It would be nice to embed theses in the readme

see : https://github.com/PvtHaggard/pydarksky/blob/master/README.md

for an example

[2018-05-19 17:13] #17 closed

[2018-05-19 17:14] #12 closed

[2018-05-19 17:14] #8 closed

[2018-05-19 17:22] brettvanderwerff opened #22 "prompt user to select which files they want to go in static and templates folder through a pop up menu"
This is just something I thought about, and might be something we can consider when the project is further along, but it might be an interesting idea to have a popup menu appear when the user run to program prompting them specifically which folder they want migrated to the static folder and which HTML files they want migrated to the templates folder with tkinter or something like that. I don't kno

[2018-05-19 17:27] brettvanderwerff opened #23 "update dependencies in readme"
dependencies in readme have fallen behind the requirements.txt file, dependencies should be updated to reflect the addition of nose as a dependency.

[2018-05-19 23:39] brettvanderwerff opened #25 "Provide testing coverage for the is_zip and unzip methods of the StructureDirectory class in the structure_directory.py module"
This would be a good issue for someone new to testing. These two methods are new and need some tests. This might require some research, but we have a handful of other tests written that can serve as some form of example. is_zip should be pretty straight forward. unzip might be a little tougher and might require a dummy zip file, but again this might require some research.

I wrote these methods an

[2018-05-19 23:39] #7 closed

[2018-05-19 23:44] brettvanderwerff opened #26 "Compile list of free bootstrap template sites for flaskerizer to work with"
Flaskerizer was designed to work with templates from https://bootstrapmade.com/ and we have our eyes set on modifying it to work with templates from  https://startbootstrap.com next, but it would be good to get a running list of popular free bootstrap template websites. A large part of what I want to do with this project moving forward is to make sure it is versatile and works with many sources of

[2018-05-20 09:07] PvtHaggard commented on #23
@brettvanderwerff This can be closed.

[2018-05-20 12:46] makkoncept opened #29 "Make application to work with different types of templates"
While the application is working properly with templates from [bootsrapmade](https://bootstrapmade.com/) . there are some templates where it still needs some work as the styles. Few of them are

- [Alstar](https://bootstrapmade.com/alstar-free-parallax-bootstrap-template/)
- [sailor template](https://bootstrapmade.com/sailor-free-bootstrap-theme/)
- [NiceAdmin]( https://bootstrapmade.com/nice-admi

[2018-05-20 13:03] makkoncept opened #30 "Feature: Let the user put the destination path"
Right now the templates and the static folders and `app.py` are made in the same directory as the application . The user then moves it to the Flask project directory as the present one is very cluttered and the  user will not want to continue the project in the same directory and if the user decides to continue then he/she has to delete all the not required files, make a new requirements.txt for t

[2018-05-20 16:07] #23 closed

[2018-05-20 16:49] brettvanderwerff commented on #30
@makkoncept Thats a great idea, its pretty straight forward to code also. Try and have issue titles be a bit more specific to the feature you are suggesting. Tag this as you see fit (let me know if you cant).  "good first issue" is always a great tag for things like this as this would be a good intro python problem.

[2018-05-20 17:15] brettvanderwerff commented on #29
@makkoncept see my comments on #20 about browser cache, all of these work for me with flaskerizer except alstar. NiceAdmin is a massive site so I was  really excited to see it work. There are a few 404's that come up in the terminal like `/img/avatar-mini.jpg HTTP/1.1" 404 -`, which I think might actually be links in the javascript that need to be fixed, but I'm not sure. I think there might be a

[2018-05-20 17:26] brettvanderwerff commented on #30
@makkoncept I started thinking about this more, part of the issue with doing this would be that if we write the flask files outside the working directory the user might not be able to test their changes right away, especially if they are working in a virtual environment they would have to go set up the virtual environment wherever the files are written to before they could run it. This might requi

[2018-05-20 17:27] brettvanderwerff commented on #2
I'm going to take this one.

[2018-05-20 17:49] brettvanderwerff opened #31 "Alstar bootstrap template from bootstrapmade.com does not work (need to parse javascript files)"
It seems like most templates from bootstrapmade.com work with flaskerizer, however alstar does not work:

https://bootstrapmade.com/alstar-free-parallax-bootstrap-template/

I get the following error in the terminal when trying to launch the flaskerized version of alstar:

`/img/bgslides/1.jpg HTTP/1.1" 404 -`

It would be good if someone can confirm this issue.

The only place I see a reference t

[2018-05-20 17:55] brettvanderwerff commented on #31
OK I looked into this, its the javascript that needs to be fixed.

It works beautifully if you manually change

`"img/bgslides/1.jpg"` in custom.js to

`"static/img/bgslides/1.jpg"`

We need a parse javascript method in StructureDirectory that will make these changes automatically.

[2018-05-20 18:00] brettvanderwerff commented on #29
@makkoncept see issue #31, I just found out that parts of alstar do not work because of javascript links that need to be changed. We need to write a method that parses javascript files and changes links to point to items in the static folder similar to how we are parsing html links right now.

[2018-05-20 18:09] makkoncept commented on #30
Sooner or later the user will want to migrate the flask project away as all the other files , be it of tests or template examples are not part of its project, its part of Flaskerizer . Flask project grows out to be a large chunk of files.
I think we can do two things. Either put templates, static and app.py in a folder name `Flask project` in the same directory as Flaskerizer, user can then cd int

[2018-05-20 18:14] brettvanderwerff commented on #30
@makkoncept I want to leave this open to give people a chance to make input on the issue. I don't know what the right answer is yet, those are the two ideas I had too.

[2018-05-20 18:25] brettvanderwerff commented on #2
As much as I hate to say this I think that having the user unzip the template and point to the path of the folder with the HTML files that they want migrated to the flask templates folder are with a new config.py dictionary value. Similarly they would point to the path of the folder that contains stuff that they want migrated to the flask static folder. This might be the right answer to get this w

[2018-05-20 19:30] brettvanderwerff commented on #25
I am placing this issue on the backburner, there might be some changes to the project that preclude the need for a tempalte unzipping function

[2018-05-20 19:34] brettvanderwerff commented on #9
This is on the back burner see issue #25

[2018-05-21 19:15] #2 closed

[2018-05-21 23:50] brettvanderwerff commented on #21
I'm going to take this one.

[2018-05-22 00:49] #21 closed

[2018-05-23 03:31] brettvanderwerff commented on #31
I'm taking this issue

[2018-05-24 20:43] kimthostrup opened #37 "Awesome work"
No issues, I just wanted to say that you did a awesome job of creating this tool.

Thanks.

[2018-05-24 21:27] brettvanderwerff commented on #37
@kimthostrup Thanks! There was help from others, it was really a team effort and it is still being polished. Do you work with Flask? If you do and if you use Flaskerizer it would be awesome if you raise an issue for any problems you come across. There are things that we know don't work, but we are moving forward and patching as we go!

[2018-05-25 00:36] #31 closed

[2018-05-25 00:42] brettvanderwerff commented on #30
@makkoncept I think just a configuration setting that points to a path the user would like to write their "clean" app to would be great as a start we could even leave it commented out so the user can consider this functionality optional.

[2018-05-25 00:47] brettvanderwerff opened #38 "Organize repo by making folders for common items"
The Flaskerizer has grown quite a bit and now is looking a bit cluttered. It would be great if we could organize things by making some folders for common items. i.e. the examples could go in a folder for examples and maybe all the testing materials can be put together in their own folder. Code will obviously have to be modified to reflect any new organization of the repo.

[2018-05-25 00:56] brettvanderwerff opened #39 "UnicodeDecode error when parsing javascript of 'Alstar template'"
When attempting to run the flaskerizer on this template:

https://bootstrapmade.com/alstar-free-parallax-bootstrap-template/

`UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 2795: character maps to <undefined>`, which is traced back to the parse_javascript method of the StructureDirectory class.

It would be great if someone could confirm this error and anyone can take a st

[2018-05-25 06:31] saveshodhan commented on #39
I tried this on Ubuntu 18.04, worked well here.. Can you share your `config.py` ?

[2018-05-25 06:32] kimthostrup commented on #37
@brettvanderwerff I only use Flask on a hobby basis, but I will let you know if I find any issues.

[2018-05-25 06:32] #37 closed

[2018-05-25 06:42] brettvanderwerff commented on #29
@makkoncept Im closing this because we have all these working except for NiceAdmin, which I raised an issue for. I'm going to open an official running issue for people to post templates that don't work though

[2018-05-25 06:43] #29 closed

[2018-05-25 06:50] brettvanderwerff opened #40 "If you found a bootstrap template that does NOT work with Flaskerizer please post it in this issue"
I want to make this an official thread where people can post bootstrap templates that they have found not to work with the Flaskerizer. If a user posts a template that does not work in this thread, we will raise an issue to fix it.

You should comment both a link for the non working template and a description of the problem like this :

**Template link:**  https://bootstrapmade.com/nice-admin-boot

[2018-05-25 07:02] brettvanderwerff commented on #39
@saveshodhan I really appreciate that you looked into this. You are right, I don't get the unicodedecode error on ubuntu 16.04. I get the error when running windows 10. If someone else has windows 10 maybe give this template a try and see if it works.

NiceAdmin seemed to work for the most part on ubuntu 16.04, but I still did get a few 404s for broken links, its not noticeable when viewing the si

[2018-05-25 07:11] saveshodhan commented on #39
Sorry mate, I don't think I'll be able to test this on Windows 10..
And yeah I got `404` for some files, will look into this..

Also, you can check out [this Google search](https://www.google.co.in/search?q=UnicodeDecodeError%3A+%27charmap%27+codec+can%27t+decode+byte+0x81+in+position+2795%3A+character+maps+to+%3Cundefined%3E&oq=UnicodeDecodeError%3A+%27charmap%27+codec+can%27t+decode+byte+0x81+in

[2018-05-25 12:15] PvtHaggard commented on #39
This issue is due to the encoding used when opening the file jquery.tagsinpuit.js.
Windows uses CP-1252(aka Windows-1252) as its default encoding and the problem file is encoded in UTF-8. Hence the decoding error.

A solution is to try multipule encoding types when opening files.

[code]

The exact location of the problem is line 324 of  jquery.tagsinpuit.js
[code]

[2018-05-25 17:05] makkoncept commented on #30
yeah, i think this would be nice. This could be a good first issue, or i can take it if its urgent?

[2018-05-25 17:22] brettvanderwerff commented on #30
@makkoncept I labeled it as good first issue, we'll see if someone takes it in the next few days, but I would say if you would like to do it go ahead and give it a go. I'll leave it open for a bit if no one takes it, I will do the PR. Thanks for commenting!

[2018-05-25 17:27] brettvanderwerff commented on #39
@PvtHaggard  @saveshodhan I'm going to go ahead and put in a "work in progress" pull request to address the unicode error as soon as I get home from work. @saveshodhan if you come across a solution for the 404's on this template feel free to comment them here and I will ad them to my WIP PR for this issue or you can start your own PR to address it if you feel like it. Don't worry if you don't want

[2018-05-25 17:38] makkoncept commented on #30
Yeah, we can leave it open for few days. There is always room for new contributors

[2018-05-25 20:50] brettvanderwerff commented on #39
PR #42 should address all of this, both the unicode issue (which was fixed by declaring javascript files as utf-8 encoding in the 'with open' statement) and the 404 errors for avatar images, which were actually links in the HTML that needed to be fixed.

[2018-05-28 06:48] brettvanderwerff opened #44 ""Coza" template produces 404's from bad links."
The following template does not work completely with Flaskerizer:

https://colorlib.com/wp/template/coza-store/

There are some 404s that are thrown:

`127.0.0.1 - - [28/May/2018 06:41:56] "GET /images/slide-03.jpg HTTP/1.1" 404 -`
`127.0.0.1 - - [28/May/2018 06:41:56] "GET /images/slide-02.jpg HTTP/1.1" 404 -`
`127.0.0.1 - - [28/May/2018 06:41:56] "GET /images/slide-01.jpg HTTP/1.1" 404 -`

This

[2018-05-30 22:23] etiontdn commented on #22
I want to give a try if no one is working at this at the moment,
just some questions.
Is it only to select the HTML STATIC JS folders?

[2018-05-30 22:54] brettvanderwerff commented on #22
Hi etiontdn, welcome to the flaskerizer project!

 Right now we have the user pointing to the HTML, static, and js folder content by pointing to the full path of these manually in the config.py file.  This feature was developed after this issue was raised and seems like a good lightweight way to get the unambiguous paths to these directories at the time, I would like to retain this functionality a

[2018-05-30 23:10] etiontdn commented on #22
Thanks, i think Tkinter isnt a Bad idea, because it comes by default with almost all python installs and it is relatively simple to make and wont take even 50 lines since it looks like this is a really simple thing to do
As of the optional thing, i think i can make a separate file or a class that can be called optionally.
another questions not totally relationed to this:
1. Is this repository pyth

[2018-05-30 23:39] brettvanderwerff commented on #22
@etiontdn see my last comment, but this issue is yours by the way.

[2018-05-31 00:30] etiontdn commented on #22
Thanks, i'm going to start working on it then!

[2018-05-31 06:32] brettvanderwerff commented on #38
I am taking this, see pull request #45 for more details on progress.

[2018-06-02 22:10] brettvanderwerff commented on #38
I think for now the bulk of this was addressed with merging of PR #45. I am going to close this for now, but may reopen in the future if more organization is needed

[2018-06-02 22:10] #38 closed

[2018-06-02 22:26] brettvanderwerff commented on #30
I'm going to take this issue and work on a solution, it will help clean the repo too, which I have been trying to make progress towards recently with PR #45.

[2018-06-03 00:30] brettvanderwerff commented on #30
In PR #47  I changed the project to write the Flask app in a designated folder in the repo. This keeps it nice and clean and separated from the Flaskerizer source code. This issue will be closed.

[2018-06-03 00:30] #30 closed

[2018-06-03 17:15] brettvanderwerff opened #48 "Allow users the option to have flaskerizer build thier project according to accepted "large flask project" structure"
Right now the flaskerizer just makes a simple flask application in the flaserized_app output folder that has an app.py file and the static and templates folder. This is probably fine for some small websites. Some of the bootstrap template build large websites that might benefit from the adoption of a project structure that is better for large flask apps. There is a lot of discussion on what the "r

[2018-06-06 22:39] brettvanderwerff commented on #1
addressed with PR #49 and closed.

[2018-06-06 22:39] #1 closed

[2018-06-06 23:10] brettvanderwerff opened #50 "The migrate_templates method does not detect links to items outside of the top level directory of the Bootstrap template"
This one is a bit hard to explain, so let me demonstrate:

The template: https://www.free-css.com/free-css-templates/page193/bootstrap-restaurant
will give many errors like this one after flaskerization:

`127.0.0.1 - - [06/Jun/2018 15:54:34] "GET /themes/dist/css/bootstrap.min.css HTTP/1.1" 404 -`

which is at least partially because the migrate_templates does not recognize the following link the

[2018-06-06 23:29] brettvanderwerff opened #51 "The flaskerizer cannot currently deal with files like javascript and css being in more than one place in the bootstrap template"
This issue is just an official declaration of an issue I raised in the second comment of issue #50, please refer to that post for more details. This issue is really an extension of #50. I have also pasted some of the issue description here:

The issue is with the template: https://www.free-css.com/free-css-templates/page193/bootstrap-restaurant

css files are not only in themes\assets\css but also

[2018-06-07 00:50] brettvanderwerff commented on #44
@heberfabiano fixed this with PR #52 , this issue is closed

[2018-06-07 00:50] #44 closed

[2018-06-07 16:33] brettvanderwerff commented on #50
Ok I think I have a possible solution to this. I think we need to search the entire bootstrap template directory tree for any files with the .css, .js, .img extension etc and when one is found the path to its original position within the bootstrap template is saved within a list and the file is migrated to its respective folder in the 'static' directory of the flaskerized app. The HTML and javascr

[2018-06-07 16:38] brettvanderwerff commented on #51
Possible solution to this from #50:

I think we need to search the entire bootstrap template directory tree for any files with the .css, .js, .img extension etc and when one is found the path to its original position within the bootstrap template is saved within a list and the file is migrated to its respective folder in the 'static' directory of the flaskerized app. The HTML and javascript files

[2018-07-07 21:31] brettvanderwerff commented on #51
I'm taking this issue with PR #54

[2018-07-07 21:32] brettvanderwerff commented on #50
I'm taking this issue with PR #54

[2018-07-08 01:09] brettvanderwerff commented on #22
With #54 we will need to change the GUI a bit, but for now I am closing this issue. I will open a new issue if the GUI needs work

[2018-07-08 01:10] #22 closed

[2018-07-08 22:49] brettvanderwerff commented on #51
Closed with #54

[2018-07-08 22:49] #51 closed

[2018-07-08 22:50] brettvanderwerff commented on #50
Closed with #54

[2018-07-08 22:50] #50 closed

[2018-07-08 23:06] brettvanderwerff opened #55 "Avoid randomization of file name prefixes by detect_static_files"
If you look at the detect_static_files method of the StructureDirectory class in structuredirectory.py, the method adds a zero padded random number to the beginning of each name for each file that is read in. This prevents issues with two or more files of the same name in different folders of the Bootstrap template conflicting when they are migrated to the static folder of the Flask app (i.e. two

[2018-07-08 23:20] brettvanderwerff opened #56 "Migrate fonts to the css subfolder of static in addition to the fonts subfolder"
Interestingly the template:

 https://www.feedmethemes.com/themes/html/logic-free-html5-multipurpose-business-template

looks for font files in both the fonts folder and the css folder. There are 404 errors because of this that can be solved by simply copying fonts files from the fonts folder to the css folder of the flaskerized app.

Since font files are small I think the best fix to this would b

[2018-07-08 23:28] brettvanderwerff opened #57 "Refactor parse_links"
the parse_links method of the StructureDirectory class in the structure_directory.py module is pretty messy, refactoring it for readability, possible breaking it down into additional methods if needed  is a good issue for someone looking to get into open source.

I'll eat this one if no one else is up for it, I wrote that method in the first place, but I think it would be a good entry issue for a

[2018-07-09 01:12] brettvanderwerff opened #58 "Improve test coverage for the StructureDirectory class"
We used to have good coverage for the methods of the StructureDirectory class in the structure_directory.py module. Most of these tests relied on comparing the output of the example "Alstar" Bootstrap template being processed via the Flaskerizer to "gold standard" versions of these output files line by line via `assertMultiLineEqual`

Because of the recent PR #54 producing the issue #55, this comp

[2018-07-09 01:32] brettvanderwerff opened #59 "Build optional command line arguments for passing paths to the Bootstrap template"
Right now the user has to open `config.py` and paste the paths to the Bootstrap template. It would be nice to add the option to pass these same paths as command line arguments, while still letting the user use the config file for indicating their paths if they prefer.

[2018-07-09 05:55] brettvanderwerff commented on #26
I'm closing this, after PR #54, Flaskerizer seems pretty agnostic about what the source of the Bootstrap template is.

[2018-07-09 05:55] #26 closed

[2018-07-09 21:15] brettvanderwerff commented on #55
I think I figured out how to do this, I am working on this with PR #61

[2018-07-09 22:42] brettvanderwerff commented on #58
I'm working on this with PR #61

[2018-07-10 00:52] brettvanderwerff commented on #58
This was partially solved with PR #61, but some methods remain untested and could use some tests

[2018-07-10 00:52] brettvanderwerff commented on #55
This is solved with merging PR #61

[2018-07-10 00:52] #55 closed

[2018-07-12 19:53] brettvanderwerff commented on #48
WIP PR #63 is working to address some of this, but this may require multiple PRs to be fully realized.

[2018-07-13 05:51] brettvanderwerff commented on #48
This was completed with PR #63

[2018-07-13 05:51] #48 closed

[2018-07-13 16:06] brettvanderwerff opened #64 "Allow user to select the output directory of the Flaskerized_app generated by the Flaskerizer"
Right now the Flask app generated by this program is outputted to the repo folder. It would be nice to have a configuration value that allows the user to select what folder the want to write the Flask app to.

[2018-07-13 16:08] brettvanderwerff opened #65 "Allow user to name their Flask app anything they want rather than forcing the name to be Flaskerized_app"
Right now the flask app that is generated is named "Flaskerized_app" by default. I would like to make it so that the user can set the name to anything they way as a configuration value.

[2018-07-14 01:07] brettvanderwerff commented on #65
I'm working on this with PR #65

[2018-07-14 23:40] brettvanderwerff commented on #59
I'm working on this with PR #66

[2018-07-14 23:40] brettvanderwerff commented on #59
I'm working on this with PR #66

[2018-07-14 23:41] brettvanderwerff commented on #64
I'm working on this with PR #66

[2018-07-15 01:16] brettvanderwerff commented on #65
Closed with merging of PR #65

[2018-07-15 01:16] #65 closed

[2018-07-15 01:16] brettvanderwerff commented on #64
Closed with merging of PR #65

[2018-07-15 01:16] #64 closed

[2018-07-15 01:16] brettvanderwerff commented on #59
Closed with merging of PR #65

[2018-07-15 01:16] #59 closed

[2018-07-15 19:26] brettvanderwerff opened #67 "Package project for PyPi.org"
I think the project is far enough along to package for PyPi under the designation that it is in early development still. I think this is important to make it more accessible to people. I have never done this before, but I think the structure of the project might need to change a bit according to this:

https://hynek.me/articles/sharing-your-labor-of-love-pypi-quick-and-dirty/

[2018-07-18 20:39] brettvanderwerff commented on #67
I am taking this issue. I have been looking at this for a bit now and making some progress. It might take a bit, PyPi was more of an afterthought and some of the project structure is not immediately compatible with this.

[2018-07-20 22:17] brettvanderwerff commented on #67
I'm working on this, but actually finding it quite difficult to preserve testing and command line argument functionality. I am still trying to learn how to do this, but overall would say this issue is still open if anyone wants to help out with it.

[2018-08-01 04:22] #67 closed, assigned to nobody

[2018-08-27 03:30] avnish98 commented on #57
I would like to work on this

[2018-08-27 13:07] brettvanderwerff commented on #57
That would be great I certainly could use help on it

[2018-08-27 14:04] brettvanderwerff opened #70 "Modify test files to test both large and small app structure settings."
The flaskerizer can make both large and small structure flask apps by passing `large_app_Structure=True during the instantiation of StructureDirectory and WriteApp objects. Currently the testing files only test the state when `large_app_Structure=True`. It would be good to have the testing files test both when `large_app_Structure=True` and `large_app_Structure=False` by cycling through these two

[2018-08-28 07:03] avnish98 commented on #57
Thanks, I will tell you when I am close

[2018-08-28 15:19] brettvanderwerff commented on #57
@avnish98 Unfortunately because of time issues I am not able to review this at that detail. I would recommend using the print function after each condition to  get a feel for what they are changing.  I know its tough because it a messy function, but coming up with a way to address that is part of the PR. I appreciate that you took the issue and hope it goes well. Please let me know when you ready

[2018-09-03 15:46] brettvanderwerff opened #74 "Allow shorter command line argument aliases"
Right now the flags for command line arguments are very long and easy to make mistakes typing/hard to remember (i.e. --top-level-path). It would be god to incorporate a one or two letter alias for each flag that the user could use. Maybe top level path could be -TL or -T or something like that. We could still allow the more verbose flags, these shorter flags would just be an optional abbreviation

[2018-09-03 16:53] brettvanderwerff commented on #74
@avnish98 Great! I made some comments on you PR #73.

[2018-09-03 17:05] brettvanderwerff opened #75 "Ubuntu 18.04 and python 3.6.5 bug where extra characters are added to links"
I am having a problem with Flaskerizer of Ubuntu 18.04 with Python 3.6.5

How to recreate :

When running Flaskerizer in small app structure against the template: https://startbootstrap.com/template-overviews/one-page-wonder/ (although I don't think the template matters) I get link errors when trying to launch the flask app

127.0.0.1 - - [03/Sep/2018 09:59:31] "GET /vstatic/css/000027bootstrap.mi

[2018-09-03 17:27] avnish98 commented on #74
@brettvanderwerff Thanks I will start working on shortening the aliases by tomorrow

[2018-09-03 17:56] brettvanderwerff commented on #75
I have tried this on two different Ubuntu 18.04 machine, I believe this is a real problem and not just me. Because many people that will use this program are on ubuntu, this is a high priority issue

[2018-09-03 18:38] brettvanderwerff commented on #75
@avnish98 I think made progress on figuring out  what the issue is it. I think it has to do less with ubuntu/python and more  with whether the person leaves a trailing / on the paths they pass as arguments for templates path, top level path etc. I think checking whether the user leaves a trailing slash to the paths they give and then adding one if they didn't would solve this.  The endswith string

[2018-09-03 18:53] avnish98 commented on #75
@brettvanderwerff I agree with you because I tested the template on my machine and I didn't find any such issue
![screenshot from 2018-09-04 00-21-10](https://user-images.githubusercontent.com/29746858/44999130-bb00f900-afd8-11e8-986f-e70caf235dcb.png)

[2018-09-03 18:56] brettvanderwerff commented on #75
@avnish98 Thanks for checking that I am going to make a quick fix for this right now.

[2018-09-03 19:57] brettvanderwerff commented on #75
Resolved with #76

[2018-09-03 19:57] #75 closed

[2018-09-04 13:29] brettvanderwerff commented on #57
Addressesed and closed with pr #73

[2018-09-04 13:29] #57 closed

[2018-09-04 15:18] avnish98 opened #78 "Adding option to specify templates-path argument only when HTML files are in different folder"
Right now we have to specify --templates-path argument for HTML files as well as --top-level-path for top level directory of bootstrap template. I am thinking that user should only specify --templates-path when it is different from --top-level-path (which is not the case most of the times).

[2018-09-04 15:32] avnish98 commented on #78
@brettvanderwerff  I think your solution is nice. We should think on this some more.

[2018-09-05 14:05] brettvanderwerff commented on #74
Closed with PR #77

[2018-09-05 14:05] #74 closed

[2018-09-07 14:02] avnish98 opened #82 "To create app folder (if not existing)"
I think it will be nice if Flaskerizer makes app folder if it not existing. Right now, it asks for an existing directory. I would like this to be assigned to me if we decide to work on it

[2018-09-07 14:08] avnish98 commented on #78
@brettvanderwerff Should we work on this next? What are you thinking?

[2018-09-07 20:53] brettvanderwerff commented on #82
Could you elaborate on what you mean by this. Right now it makes a folder of app name in the app path. So I'm not quite sure what you are getting at.please let me know!

[2018-09-07 20:53] brettvanderwerff commented on #82
Sorry I accidentally closed this

[2018-09-08 04:31] avnish98 commented on #82
![screenshot from 2018-09-08 09-59-53](https://user-images.githubusercontent.com/29746858/45250318-0bb48100-b34e-11e8-9a90-667cba74c887.png)
There is no folder such as "one_page" and flaskerizer dosen't create one.

[2018-09-08 18:50] brettvanderwerff commented on #82
Is it common to make a new folder and then nest the named app folder within that when doing Flask development? Let me know if that does not makes sense. I didn't think to do this because we are already making a new "Flaskerized_app" folder, why would the user make a new folder then have our program write another new folder inside that? If there is a good reason to then I agree that this should be

[2018-09-08 18:58] brettvanderwerff commented on #78
@avnish98 I'm pretty over extended at this point so I am not as closely involved with actually coding on this project for the time being. If you would like to work on this you are absolutely free to though. It would be way more convenient for the user if we could automate unizpping the template and finding the templates path. With that said I don't want to sacrifice functionality of the program fo

[2018-09-08 19:05] brettvanderwerff commented on #78
Or if there is some other piece of information that is a dead giveaway which folder should be the templates folder that I am missing (like a line in one of the HTML files or something) that would be super helpful.

[2018-09-09 08:54] avnish98 commented on #82
Problem is that, flaskerizer should've made a folder "one_page"(from my screenshot posted above) if it wasn't existing .

[2018-09-09 08:56] avnish98 commented on #78
Okay, I will look into your commit c3d5894 and tell you what I think

[2018-09-09 16:45] brettvanderwerff commented on #82
@avnish98. I understand, do you think that is something people would be doing commonly? Making a new folder at that step? If so then we could put that in. I wonder if a prompt would be the most appropriate though. if the folder does not exist prompt the user to make that folder?

[2018-09-10 13:58] avnish98 commented on #82
@brettvanderwerff Prompt will be nice. I will get back to you in a week, I have midterms to tackle right now

[2018-09-10 14:53] brettvanderwerff commented on #82
@avnish98 sounds great let me know if/when you are interested in taking this

[2018-09-15 01:35] brettvanderwerff commented on #78
@avnish98  I have been thinking about this more. Its really a tug of war between whether we think people are less likely to use the flaskerizer because they have to unzip the bootstrap template and manually find the templates folder and then add an extra command line argument  or whether people are less likely to use the flaskerizer because it may not work in a few situations because we automated

[2018-09-15 20:57] brettvanderwerff opened #83 "Optimize parse_links method by parallelization via the multiprocessing library"
Right now large templates like this one:

https://startbootstrap.com/template-overviews/sb-admin-2/

can take a long time (many minutes), particularly because of how slow the parse_links method of the StructureDirectory class is. This method parses one file at a time. It would be nice to try and speed this process up by using the multiprocessing library and parsing a number of files in parallel ac

[2018-09-15 21:59] brettvanderwerff commented on #83
I am working on this with PR #84

[2018-09-16 00:53] brettvanderwerff commented on #83
This is completed

[2018-09-16 00:53] #83 closed

[2018-09-16 00:58] brettvanderwerff opened #85 "code optimization needed for parse links and other methods."
I tried to optimize some of the program by implementing multiprocessing with the parse_links method, but on some templates the program still takes several minutes to run. Any work on code optimization is very welcome. If there are any more places to implement paralellization we can try that too, but I am sure there are some easy code fixes that I missed when writing flaskerizer that could help spe

[2018-10-02 14:24] bovem commented on #85
@brettvanderwerff I would like to work on this one as I have made changes to parse_links in past and I would like to try using break statements after conditions so that for loop dosen't run for too long.

[2018-10-02 16:11] brettvanderwerff commented on #85
@avnish98 Sounds great it's all yours!